.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; 
    -fx-font-family: "Arial";
    -main-blue-color: #dee1e6;
}

/* ---> TABS <--- */

.tab {
    -fx-pref-width: 105;
    -fx-pref-height: 32; 
    -fx-background-color: -main-blue-color;
    -fx-border-width: 0px;
    -fx-border-radius: 6 6 0 0;
    -fx-background-radius: 6 6 0 0;
}
.tab:hover {
    -fx-background-color: #f6f6f6;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -main-blue-color;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
}

.tab-down-button {
    -fx-padding: 0;
}

.tab-down-button .arrow {
    -fx-padding: 0;
}


/* ---> IMAGES <--- */

.image-recursive {
    -fx-opacity: 1;
}

/* ---> BUTTONS <--- */

.button {
    -fx-background-color: #0068d9;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-background-insets: 0,0,0,0,0;
}
.button:hover {
    -fx-background-color: #005dc3;
    -fx-background-insets: 0,0,0,0,0;
}

.button-folder {
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
}

.button-recursive {
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-text-fill: #999999;
}
.transparent-button:hover {
    -fx-background-color: transparent;
}

.separatorButton {
    -fx-background-color: #cccccc;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}
.separatorButton:hover {
    -fx-background-color: #bbbbbb;
}

.about-button {
    -fx-background-color: transparent;
    -fx-text-fill: #838383;
}
.about-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #727272;
    -fx-underline: true;
}

/* ---> TOGGLE BUTTON <--- */

.toggle-button {
    -fx-background-color: #bbbbbb;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}
.toggle-button:hover {
    -fx-background-color: #999999;
}

/* ---> TABLE VIEW <--- */

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #555555;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 35;
    -fx-border-color: -main-blue-color;
    -fx-border-width: 0 1 2 0;
    -fx-border-insets: 0;
}
.table-view .column-header:hover {
    -fx-background-color: -main-blue-color;
}

.table-row-cell:selected {
    -fx-background-color: #0068d9;
}

/* ---> COMBOBOX <--- */

.combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #0c80ff;
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: #0068d9;
}

/* ---> TEXT FIELD <--- */

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8 8 8 8;
    -fx-background-radius: 8 8 8 8;
    -fx-accent: #0068d9;
}

/* ---> DATE PICKER <--- */


.date-picker {
    -fx-background-color: -fx-focus-color;
}

.date-picker > .text-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
    -fx-border-color: transparent;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker > .arrow-button {
    -fx-background-image: url("Images/datePicker-icon.png");
    -fx-background-color: #dddddd;
    -fx-background-size: 50% 50%;
    -fx-border-radius: 0 8 8 0;
    -fx-background-radius: 0 8 8 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5 center;
}
.date-picker > .arrow-button:hover { 
    -fx-background-color: #cccccc;
}

.date-picker .cell {
    -fx-pref-width: 35px;
    -fx-pref-height: 25px;
}
.date-picker .cell:hover {
    -fx-background-color: #0c80ff;
}

.date-picker .cell:focused {
    -fx-background-color: #0068d9;
}

.date-picker .button {
    -fx-background-color: transparent;
}